{% extends 'Template.html' %}
{% load static %}
{% block title %} SEMAC - Login {% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/are-you-unesp.css' %}">
{% endblock %}
{% block content %}
        <div class="nes-container">
            <div class="nes-container is-dark" id="inner">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="nes-balloon from-left is-dark">
                        <p>Mas antes de tudo eu preciso saber. Você é estudante da unesp?</p>
                      </div>
                    </div>
                </div>
                <a href="/personal-data-unesp-reister/" class="nes-btn is-dark">Sim</a>
                <a href="/personal-data-reister/" class="nes-btn is-dark">Não</a>
            </div>
        </div>
{% endblock %}
