{% extends 'Template.html' %}
{% load static %}
{% block title %} SEMAC - Inscreva-se {% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/buysubscription.css' %}">
{% endblock %}
{% block content %}
    <div class="nes-container">
        <div class="nes-container is-dark" id="inner">
            <h1 class="form-title"> Parado aventureiro! </h1>
            <br>
            <p class="form-description">
                A ponte que leva ao evento ainda esta quebrada, mas não se preocupe!
                <br>
                <br>
                Volte no dia <p class="form-description"> 08/10/2021 </p>
            </p>
        </div>
    </div>
{% endblock %}