{% extends 'Template.html' %}
{% load static %}
{% block title %} SEMAC - Minicursos {% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/lecturer.css' %}">
{% endblock %}
{% block content %}

    <div class="container nes-container is-dark" id="main-container">
        <h1>Minicursos</h1>
        <br>
        <div class="row justify-content-center">
            <!--Aqui começa os "cards"-->
            {% for i in lec %}
                <div class="col-sm-4 nes-container new-container card-item">
                    <h1 class="c-title">{{i.title}}</h1>
                    <h4 class="c-title">{{i.date_and_time}}</h4>
                    <br>
                    <p class="card-text">Ministrado por <a href="http://semac.cc/lecturers/{{i.lecturer_id.id}}">{{i.lecturer_id.full_name}}</a></p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}