{% extends 'Template.html' %}
{% load static %}
{% block title %} SEMAC - Codigo {% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">

{% endblock %}
{% block content %}
    <script src="{% static 'js/input.masks.js' %}"></script>

    <div class="nes-container">
        <div class="nes-container is-dark" id="inner">
            <h1 class="form-title">Insira o código secreto!</h1>
            <h5 class="form-description">
                Enviamos um código secreto da guilda em seu e-mail. Coloque ele no campo abaixo para processeguir!
            </h5>
            <br>
            <br>
            <br>
            {% if messages %}
                {% for message in messages %}
                <p class="form-error">{{message}}</p>
                {% endfor %}
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="nes-btn is-dark" id="submit-form" value="Confirmar!">
            </form>
        </div>
    </div>
{% endblock %}