{% extends 'Template.html' %}
{% load static %}
{% block title %} SEMAC - Palestrante {% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/lecturer.css' %}">
{% endblock %}
{% block content %}

<div class="container nes-container is-dark" id="main-container">
    <h1 class="lecturer_name">{{lec.full_name}}</h1>
    <img src="{% static '/' %}{{image}}" class="rounded-circle" id="profile-pic">
    <br>
    <div class="nes-container new-container" id="lectures">
        {{lec.page_description|safe}}
    </div>

</div>

{%endblock%}