{% extends 'Template.html' %}
{% load static %}
{% block title %} SEMAC - Registro {% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}
{% block content %}

    <div class="nes-container">
        <div class="nes-container is-dark" id="inner">
            <h1 class="form-title">Preencha sua ficha!</h1>
            <br>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <br>
                <a class="form-description">Ao cliclar em confirmar, você concorda com os nossos <a class="form-description" href="https://drive.google.com/file/d/1rZ8aaxXHz0c84SGFpHsD0fu1tpsIY4iR/view?usp=sharing" target="_blank">termos de privacidade</a></a>
                <input type="submit" class="nes-btn is-dark" id="submit-form" value="Confirmar!">
            </form>
        </div>
    </div>

{% endblock %}