{% extends 'Template.html' %}
{% load static %}
{% block title %} SEMAC - Esqueci minha senha {% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}
{% block content %}
    <div class="nes-container">
        <div class="nes-container is-dark" id="inner">
            <h1 class="form-title">Recuperação de senha</h1>
            <h5 class="form-description">
                Enviamos um email com o código para recuperação de sua senha.
            </h5>
            <a class="form-description">
                Caso você tenha experenciado algum problema no processo de receber o código, entre em <a href="/contact/" target="_blank" class="form-description">contato</a>
            </a>
            <br>
            {% if messages %}
                {% for message in messages %}
                <br>
                <p class="form-error">{{message}}</p>
                {% endfor %}
            {% endif %}
            <br>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="nes-btn is-dark" id="submit-form" value="Confirmar!">
            </form>
        </div>
    </div>
{% endblock %}