<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <title>{% block title %}{% endblock %}</title>
        <!--nes css-->
        <link rel="stylesheet" href="{% static 'css/nes-core.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/nes.min.css' %}">
        <!-- bootstrap css -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/jquery.mask.min.js' %}"></script>
        {% block additional_js %} {% endblock %}
        <!-- Nossos css -->
        {% block additional_css %} {% endblock %}
    </head>
    <body>
        <section id="nav-bar">
            <!-- Header -->
            <nav class="navbar navbar-expand-lg navbar-light">
                <!--Navbar-->
                <a class="navbar-brand" href="/"> <!--link para a home page-->
                    <!--Logo-->
                    <img src="{% static 'images/LOGO-Final-8bit-cut.png' %}" width="120px" height="" alt="semac-logo-home">
                    <!--Logo-->
                </a>
                <!--Primeiro link da navbar-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Primeiro link da navbar-->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" id="" href="#">place holder</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="" href="#">place holder</a>
                    </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}

                            {% if not|length > 0 %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Notificação
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        {% for n in not %}
                                            <a class="dropdown-item" href="{{n}}">Complete a missão!</a>
                                            <div class="dropdown-divider"></div>
                                        {% endfor %}
                                    </div>
                                </li>
                            {% endif %}
                                <li class="nav-item">
                                <a class="nav-link" id="Perfil" href="/profile/">Perfil</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" id="Logout" href="/logout/">Logout</a>
                                </li>
                        {% else %}
                                <li class="nav-item">
                                <a class="nav-link" id="Login" href="/login/">Login</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" id="Inscrevase" href="/account-register/">Inscreva-se</a>
                                </li>
                        {% endif %}
                    </ul>
                </div>
                <!--Navbar-->
            </nav>
            <!--Header-->
        </section>

        {% block content %}
        {% endblock %}

        <section id="footer">
            <!-- Footer -->
            <footer class="text-center text-lg-start text-muted">
                <!-- Section: Social media -->
                <section
                class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
                >
                <!-- Left -->
                <div class="me-5 d-none d-lg-block">
                    <span class="footer-item">Conheça nossas redes sociais:</span>
                </div>
                <!-- Left -->
            
                <!-- Right -->
                <div>
                    <section class="icon-list">
                        <!-- twitter -->
                        <a href="">
                            <i class="nes-icon twitter is-small"></i>
                        </a>
                        <!-- facebook -->
                        <a href="">
                            <i class="nes-icon facebook is-small"></i>
                        </a>
                        <!-- instagram -->
                        <a href="">
                            <i class="nes-icon instagram is-small"></i>
                        </a>
                        <!-- linkedin -->
                        <a href="">
                            <i class="nes-icon linkedin is-small"></i>
                        </a>
                        <!-- twitch -->
                        <a href="">
                            <i class="nes-icon twitch is-small"></i>
                        </a>
                        <!-- youtube -->
                        <a href="">
                            <i class="nes-icon youtube is-small"></i>
                        </a>
                    </section>
                </div>
                <!-- Right -->
                </section>
                <!-- Section: Social media -->
            
                <!-- Section: Links  -->
                <section class="">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Semac 2021
                        </h6>
                        <p class="footer-item">
                            Esse pode ser um espaço para qualquer coisa, podemos colocar os patrocinadores maiores ou um textinho qualquer ou só tirar essa parte
                        </p>
                    </div>
                    <!-- Grid column -->
            
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                        Links úteis
                        </h6>
                        <p>
                        <a href="#!" class="text-reset footer-item">FAQ</a>
                        </p>
                        <p>
                        <a href="#!" class="text-reset footer-item">Torne-se patrocinador</a>
                        </p>
                        <p>
                        <a href="#!" class="text-reset footer-item">Inscreva-se</a>
                        </p>
                        <p>
                        <a href="#!" class="text-reset footer-item">Ajuda</a>
                        </p>
                    </div>
                    <!-- Grid column -->
            
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                        Nos contate
                        </h6>
                        <p class="footer-item"><i class="fas fa-home me-3"></i> Instituto de Biociências, Letras e Ciências Exatas, UNESP</p>
                        <p class="footer-item">
                        <i class="fas fa-envelope me-3"></i>
                        emaildasemac@eunaosei.com
                        </p>
                    </div>
                    <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
                </section>
                <!-- Section: Links  -->
            
                <!-- Copyright -->
                <div class="text-center p-4 footer-item">
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" style="color: white">©</a> 2021 Copyright:
                <a class="text-reset fw-bold footer-item" href="" id="semac">SEMAC</a>
                </div>
                <!-- Copyright -->
            </footer>
            <!-- Footer -->
        </section>
    </body>

</html>